

.iconic h1{
    font-size: xx-large;
    margin-left: 40px;
    margin-top: 60px;
}

.iamge{
height: 380px;
width:300px;
margin-top: 40px;

}
.bnm{
    width: 50%;
    height: 100%;
}
.for{
    width: 16.5%;
    height: 100%;
}